IO_LOC "clk" P16;        // 50Mhz
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "reset_n" K16;        // actually S0 on the board
IO_PORT "reset_n" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "user_n" F15;        // S1
IO_PORT "user_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

// S2 = G15, S3 = G16

// HDMI
IO_LOC "tmds_clk_p" Y22,Y23;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" AB24,AC24;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" V24,W24;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" AA22,AA23;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

NET_LOC "jtagseln" V_JTAGSELN;

// connections to the internal BL616 controller
IO_LOC "spi_csn" H11; // TMS
IO_PORT "spi_csn" IO_TYPE=LVCMOS33 PULL_MODE=UP PULL_STRENGTH=WEAK BANK_VCCIO=3.3;
IO_LOC "spi_sclk" H12; //TCK  4K7 pull down at SOM
IO_PORT "spi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "spi_dat" H10; // TDI
IO_PORT "spi_dat" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "spi_dir" J10; // TDO 4K7 pull down at board
IO_PORT "spi_dir" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "spi_irqn" P15; // UART TX 4K7 pull-up at SOM
IO_PORT "spi_irqn" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// JTAGSEL request from BL616, active high
IO_LOC "bl616_jtagsel" N16;
IO_PORT "bl616_jtagsel" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// UART TX of BL616, output to FPGA
IO_LOC "bl616_tx" K25;
IO_PORT "bl616_tx" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
// UART RX of BL616, input from FPGA
IO_LOC "bl616_rx" K26;
IO_PORT "bl616_rx" PULL_MODE=UP IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;

// twimux is needed to route the i2c/uart
IO_PORT "twimux[0]" DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "twimux[0]" N19;
IO_PORT "twimux[1]" DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "twimux[1]" P19;
IO_PORT "twimux[2]" DRIVE=8 IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "twimux[2]" P26;

// PMODs (seen from front)
// Pins         11 12   9  10   7   8   5   6   3   4   1   2
// PMOD0 Right N18/M26 N26/N17 R16/L24 R17/T24 GND/GND 3V3/3V3
// PMOD1 Mid   C24/B24 E25/D25 L17/L18 H14/H15 GND/GND 3V3/3V3
// PMOD2 Left  C21/B21 B20/A20 B19/A19 A17/A18 GND/GND 3V3/3V3

IO_LOC "pmod0[0]" N18;
IO_PORT "pmod0[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod0[1]" M26;
IO_PORT "pmod0[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod0[2]" N26;   // <--- schematic has this wrong as L11!!!
IO_PORT "pmod0[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod0[3]" N17;
IO_PORT "pmod0[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod0[4]" R16;
IO_PORT "pmod0[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod0[5]" L24;
IO_PORT "pmod0[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[6]" R17;
IO_PORT "pmod0[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod0[7]" T24;
IO_PORT "pmod0[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 

// FPGA Companion is expected on middle PMOD slot
//IO_LOC "pmod1[0]" C24;
//IO_PORT "pmod1[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//IO_LOC "pmod1[1]" B24;
//IO_PORT "pmod1[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//IO_LOC "pmod1[2]" E25;
//IO_PORT "pmod1[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//IO_LOC "pmod1[3]" D25;
//IO_PORT "pmod1[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//IO_LOC "pmod1[4]" L17;
//IO_PORT "pmod1[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//IO_LOC "pmod1[5]" L18;
//IO_PORT "pmod1[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[6]" H14;
//IO_PORT "pmod1[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
//IO_LOC "pmod1[7]" H15;
//IO_PORT "pmod1[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 

IO_LOC "pmod_companion_din" C24;
IO_PORT "pmod_companion_din" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod_companion_dout" B24;
IO_PORT "pmod_companion_dout" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod_companion_clk" E25;
IO_PORT "pmod_companion_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33 HYSTERESIS=ON; 
IO_LOC "pmod_companion_ss" D25;
IO_PORT "pmod_companion_ss" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "pmod_companion_intn" L18;
IO_PORT "pmod_companion_intn" PULL_MODE=UP IO_TYPE=LVCMOS33; 

IO_PORT "uart_ext_rx" PULL_MODE=UP IO_TYPE=LVCMOS33; // UART RX
IO_LOC "uart_ext_rx" H15;
IO_PORT "uart_ext_tx" PULL_MODE=NONE IO_TYPE=LVCMOS33; // UART TX
IO_LOC "uart_ext_tx" H14;

// DualShock controller on left PMOD slot
IO_LOC "pmod2[0]" C21;
IO_PORT "pmod2[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[1]" B21;
IO_PORT "pmod2[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[2]" B20;
IO_PORT "pmod2[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[3]" A20;
IO_PORT "pmod2[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[4]" B19;
IO_PORT "pmod2[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[5]" A19;
IO_PORT "pmod2[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[6]" A17;
IO_PORT "pmod2[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "pmod2[7]" A18;
IO_PORT "pmod2[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33; 

// SDCard
IO_LOC "sd_clk" D23;
IO_PORT "sd_clk" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" D24;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" H23;       // MISO
IO_PORT "sd_dat[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" J23;
IO_PORT "sd_dat[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" A25;
IO_PORT "sd_dat[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" B25;
IO_PORT "sd_dat[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// 128Mbit NOR Flash (MSPI pins)
IO_LOC "mspi_cs" P18;
IO_PORT "mspi_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_clk" H13;
IO_PORT "mspi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_wp" P14;
IO_PORT "mspi_wp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_hold" N14;
IO_PORT "mspi_hold" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_di" R14;
IO_PORT "mspi_di" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_do" R15;
IO_PORT "mspi_do" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// Mister SDRAM v3.0 connected through 40-pin port
IO_LOC "IO_sdram_dq[0]" U16;
IO_PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[1]" V16;
IO_PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[2]" U15;
IO_PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[3]" V17;
IO_PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[4]" W21;
IO_PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[5]" Y21;
IO_PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[6]" P21;
IO_PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[7]" U17;
IO_PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[8]" P25;
IO_PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[9]" W23;
IO_PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[10]" T25;
IO_PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[11]" R25;
IO_PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[12]" R23;
IO_PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[13]" T23;
IO_PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[14]" P24;
IO_PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[15]" P23;
IO_PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "O_sdram_addr[0]" V19;
IO_PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[1]" W19;
IO_PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[2]" U22;
IO_PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[3]" V22;
IO_PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[4]" Y25;
IO_PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[5]" AA25;
IO_PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[6]" AA24;
IO_PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[7]" AB25;
IO_PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[8]" AB26;
IO_PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[9]" AC26;
IO_PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[10]" Y20;
IO_PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[11]" U25;
IO_PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[12]" U24;
IO_PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "O_sdram_ba[0]" V26;
IO_PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ba[1]" W20;
IO_PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "O_sdram_dqm[0]" L22;
IO_PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[1]" M24;
IO_PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "O_sdram_clk" V23;
IO_PORT "O_sdram_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_wen_n" Y26;
IO_PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ras_n" W25;
IO_PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cas_n" W26;
IO_PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cs_n" U26;
IO_PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// 6 LEDs
IO_LOC "leds_n[5]" N23;
IO_PORT "leds_n[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[4]" N21;
IO_PORT "leds_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[3]" M25;
IO_PORT "leds_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[2]" L20;
IO_PORT "leds_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[1]" R26;    
IO_PORT "leds_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "leds_n[0]" J14;   
IO_PORT "leds_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// LCD
IO_LOC "lcd_g[5]" J16;
IO_PORT "lcd_g[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[4]" K15;
IO_PORT "lcd_g[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[3]" F22;
IO_PORT "lcd_g[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[2]" G22;
IO_PORT "lcd_g[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[1]" G21;
IO_PORT "lcd_g[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_g[0]" G20;
IO_PORT "lcd_g[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_LOC "lcd_b[5]" F20;
IO_PORT "lcd_b[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[4]" G19;
IO_PORT "lcd_b[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[3]" F19;
IO_PORT "lcd_b[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[2]" F18;
IO_PORT "lcd_b[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[1]" M17;
IO_PORT "lcd_b[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_b[0]" M16;
IO_PORT "lcd_b[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_LOC "lcd_r[5]" H19;
IO_PORT "lcd_r[5]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[4]" J19;
IO_PORT "lcd_r[4]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[3]" G25;
IO_PORT "lcd_r[3]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[2]" H18;
IO_PORT "lcd_r[2]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[1]" J18;
IO_PORT "lcd_r[1]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "lcd_r[0]" K17;
IO_PORT "lcd_r[0]" PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;

IO_LOC "lcd_en" A24;
IO_PORT "lcd_en" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_clk" H21;
IO_PORT "lcd_clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "lcd_bl" F25;
IO_PORT "lcd_bl" PULL_MODE=NONE BANK_VCCIO=3.3;

// I2S DAC
IO_LOC "i2s_bclk" E22;
IO_PORT "i2s_bclk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" F24;
IO_PORT "i2s_lrck" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_din" G24;
IO_PORT "i2s_din" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "pa_en" H17;
IO_PORT "pa_en" PULL_MODE=NONE BANK_VCCIO=3.3;

// ws2812b rgb led
IO_LOC "ws2812" H16;
IO_PORT "ws2812" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
