SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock
LOCATE COMP "clk" SITE "M1";
IOBUF  PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 50 MHZ;

# LEDs
LOCATE COMP "leds[0]" SITE "E13";
IOBUF  PORT "leds[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[1]" SITE "D14";
IOBUF  PORT "leds[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[2]" SITE "E12";
IOBUF  PORT "leds[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[3]" SITE "C13";
IOBUF  PORT "leds[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
LOCATE COMP "leds[4]" SITE "D13";
IOBUF  PORT "leds[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
